@model planMyMDVisit.Models.ViewModels.AdminCreateUserViewModel

@{
    ViewData["Name"] = ViewData["Name"];
}

<form method="post">
	<div class="mb-3">
		<label class="form-label">First Name</label>
		<input type="text" id="username" class="form-control" asp-for="Firstname" registered />
		<span class="text-danger" asp-validation-for="Firstname"></span>
	</div>

	<div class="mb-3">
		<label class="form-label">Last Name</label>
		<input type="text" id="username" class="form-control" asp-for="Lastname" required />
		<span class="text-danger" asp-validation-for="Lastname"></span>
	</div>

	<div class="mb-3">
		<label class="form-label">Username</label>
		<input type="text" id="username" class="form-control" asp-for="UserName" required />
		<span class="text-danger" asp-validation-for="UserName"></span>
	</div>

	<br />
	<br />

	<label for="AdminOrRegularUser">Admin</label>
	<input class="form-check-input" type="radio" asp-for="AdminOrRegularUser" name="AdminOrRegularUser" value="Admin" />

	<label for="AdminOrRegularUser">Regular User</label>
	<input class="form-check-input" type="radio" asp-for="AdminOrRegularUser" name="AdminOrRegularUser" value="RegularUser" />

	<br />
	<br />

	<label for="DoctorOrPatient">Doctor</label>
	<input class="form-check-input" type="radio" asp-for="DoctorOrPatient" name="DoctorOrPatient" value="Doctor" />

	<label for="DoctorOrPatient">Patient</label>
	<input class="form-check-input" type="radio" asp-for="DoctorOrPatient" name="DoctorOrPatient" value="Patient" />

	<br />
	<br />

	<div class="mb-3">
		<label class="form-label">Email</label>
		<input type="email" id="email" class="form-control" asp-for="Email" required />
		<span class="text-danger" asp-validation-for="Email"></span>
	</div>

	<div class="mb-3">
		<label class="form-label">Password</label>
		<input type="password" id="password" class="form-control" asp-for="Password" required minlength="6" />
		<span class="text-danger" asp-validation-for="Password"></span>
	</div>

	<div class="mb-3">
		<button type="submit" class="btn btn-dark">Register</button>
	</div>
</form>