@model planMyMDVisit.Models.ViewModels.CreateApptRequest

<h4>Thank you!!  Here are the details of your new appointment:</h4>

<span style="font: bold italic;">@Model.DoctorName.Name</span>

<span style="font: bold italic;">@Model.Patient.FullName</span>

<span style="font: bold italic;">@Model.Appointment</span>
