@*@using planMyMDVisit.Models.Domain*@
@model planMyMDVisit.Models.ViewModels.CreateApptRequest
@*@model planMyMDVisit.Models.ViewModels.SelectItemViewModel*@

@* <form asp-action="SelectSpecialty" method="post">
    <select asp-for="@Model" asp-items="ViewBag.SpecialtyList" class="form-control">
        <option>Select Specialty</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> *@

<label class="control-label">Specialty</label>

<form asp-controller="HealthCareTeams" asp-action="NewAppt" method="post">
    <select asp-for="Specialty" asp-items="Model.SpecialtySelectList" class="form-control">
        <option selected disabled>-- SELECT SPECIALTY--</option>
    </select>

    <span asp-validation-for="Specialty" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Next</button>
</form>


@* @foreach(var item in ViewBag.SpecialtyList)
        {
            <option value="@item.Value">@item.Text</option>
        }*@