@model planMyMDVisit.Models.ViewModels.CreateApptRequest

<form asp-controller="HealthCareTeams" asp-action="ConfirmAppt" method="post">
    <label class="control-label">Available In-Network Doctors</label>

    <select class="form-control" asp-for="DoctorName">
        <option selected disabled>-- SELECT DOCTOR--</option>
        @foreach (var item in ViewBag.DoctorList)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <br />
    <label class="control-label">Date and Time</label>

    @*@using(Html.BeginForm())
    {*@
        <br />
        @Html.EditorFor(model => model.Appointment, new {htmlAttributes = new { @class="datepicker"}})
    @*}*@
    <br />

    <span asp-validation-for="Appointment" class="text-danger"></span>
    
    <button type="submit" class="btn btn-primary">Schedule This Appointment</button>
</form>






 @* <input type="date"
           id="start"
           name="trip-start"
           value="2018-07-22"
           min="2018-01-01"
           max="2018-12-31" /> *@