@*@using planMyMDVisit.Models.Domain*@
@model planMyMDVisit.Models.ViewModels.CreateApptRequest

<label class="control-label">Available In-Network Doctors</label>

<form asp-controller="HealthCareTeams" asp-action="ConfirmAppt" method="post">
   <select asp-for="DoctorId" asp-items="Model.SpecialtyDoctorList" class="form-control">
        <option selected disabled>-- SELECT DOCTOR --</option>
    </select>
    <br />
    <label class="control-label">Date and Time</label>

    @*@using(Html.BeginForm())
    {*@
        <br />
        <input asp-for="Appointment"
           type="datetime-local"
           id="appt"
           value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
            />
        @*@Html.EditorFor(model => model.Appointment, new { @class = "datepicker form-control", @autocomplete = true })*@
    @*}*@
    <br />

    <input type="hidden" asp-for="Specialty" />

    <span asp-validation-for="Appointment" class="text-danger"></span>
    
    <button type="submit" class="btn btn-primary">Schedule This Appointment</button>
</form>


<script>
    // $(function () {
    //     $('#appt').val(new Date().toDateInputValue());
    // });
    //document.getElementById('start').valueAsDate = new Date();
    // $(function () {
    //     $(".datepicker").datepicker({
    //         dateFormat: "mm/dd/yy",
    //         value: new Date()
    //     }).datepicker("setDate", new Date());
    // });
</script>
