@using planMyMDVisit.Models.Domain
@model string

@* <form asp-action="SelectSpecialty" method="post">
    <select asp-for="@Model" asp-items="ViewBag.SpecialtyList" class="form-control">
        <option>Select Specialty</option>
    </select>
    <button type="submit" class="btn btn-primary">Sumit</button>
</form> *@

<form asp-controller="HealthCareTeams" asp-action="NewAppt" method="post">
    <label class="control-label">Specialty</label>
    <select class="form-control" name="Department" id="Department">
        <option selected disabled>-- SELECT --</option>
        @foreach(var item in ViewBag.SpecialtyList)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Next</button>
</form>

