@model planMyMDVisit.Models.ViewModels.EditPatientViewModel

<h4>Edit Patient Information </h4>

<form asp-controller="Admin" asp-action="EditPatientInfo" method="post" class="form-control">

   <input type="hidden" asp-for="Id" />

    <div>
        <label for="medicalRecord">Medical Record</label>
        <input type="text" asp-for="medicalRecord" class="form-control" />
    </div>

    <div>
        <label for="testResults">Test Results</label>
        <input type="text" asp-for="testResults" class="form-control" />
    </div>

    <div>
        <label for="medications">Medications</label>
        <input type="text" asp-for="medications" class="form-control" />
    </div>

    <br />
    <br />
    Patient Information was created at @Html.DisplayFor(m => m.CreatedAt)<br>
    Patient Information was updated at @Html.DisplayFor(m => m.UpdatedAt)<br>
    <br />
    <br />

    <div>
        <button type="submit" class="btn btn-primary">Update Patient Information</button>
    </div>
</form>






@* <div>
    <%= f.label :medical_record, "Medical and Surgical Histories" %>
    <%= f.text_area :medical_record %>
</div>

<div>
    <%= f.label :test_results, "Test Results" %>
    <%= f.text_area :test_results %>
</div>

<div>
    <%= f.label :medications, "Prescription and Non-Prescription Medications" %>
    <%= f.text_area :medications %>
</div>

<br>
    Patient Information was created at <%= date_and_time(@patient.created_at) %>
<br>
    Patient Information was updated at <%= date_and_time(@patient.updated_at) %>
<br>
<br>

<div>
    <%= f.submit "Update Patient Information", class: "waves-effect waves-light btn" %>
</div>

   <div>
    <button type="submit" class="btn btn-primary">Update</button>
    </div>
 *@