@using Microsoft.AspNetCore.Identity
@using planMyMDVisit.Models.Domain
@model planMyMDVisit.Models.Domain.Patient
@inject SignInManager<User> signInManager

@if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
{
    <h4>User Profile</h4>
    <b>Fullname: </b><b>@Model.User.FullName()</b>
    <b>Username: </b><b>@Model.User.FullName()</b>
}

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <i>You are an admin</i>
} else
{
    <i>You are a patient</i>
}

<a href="@Url.Action("Edit", "User")" class="btn btn-primary">Edit Profile</a>