@model planMyMDVisit.Models.Domain.Doctor;

<h1>Fullname: @Model.User.FullName()</h1>
<h1>Specialty: @Model.Specialty</h1>
<h1>Gender: Add Gender here</h1>
<h1>Hospital: Add Hospital here</h1>

@*if current_user.admin == true 

<h1>Address: Add hosptial address here</h1>
<h1>City: Add hospital city here</h1>
<h1>State: add hospital state here</h1>
<h1>Zipcode: add hospital zipcode here</h1>
*@

<br />
<br />

<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UserProfile" asp-route-id="@Model.Id">Full Doctor's Profile and Patient Lists</a>

<br />
<br />

<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="CreateUser">Back to Doctors List</a>
